body{
    background-color:white;
}


h1{
    font-weight:lighter;
    font-size:40px;
    text-align:center;
    color:rgb(72, 78, 80);
}

hr{
    width:80%;
    color:rgb(237, 229, 229);
}

#first{
text-align:center;
font-weight:lighter;
font-size:20px;
color:rgb(72, 78, 80);
}

#heading{
  text-align: center;
}

h2{
   margin:30px;
   text-align:center;
   color:rgb(72, 78, 80);
}

.second{
    width:250px;
    background-color:lightgrey;
    border-radius:8px;
    padding:10px;
    margin:10px;
    position:relative;
    top:10%;
}

.group{
    text-align:center;
    margin:10px;
}

.img{
    display:flex;
    justify-content:center;
}

#container{
    height:500px;
    border-width:20px;
    box-sizing:border-box;
    margin:1px;
    display:grid;
    grid-auto-flow:column;
    grid-auto-rows: 1fr;
    gap:5px;
}

